In [1]:
import numpy as np
import pandas as pd

In [60]:
movies = pd.read_csv(r'C:\Users\HAMMAD\OneDrive\Desktop\TMDB 5000\tmdb_5000_movies.csv')
credits = pd.read_csv(r'C:\Users\HAMMAD\OneDrive\Desktop\TMDB 5000\tmdb_5000_credits.csv')

In [61]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [62]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [63]:
dataset = movies.merge(credits, on='title')

In [64]:
dataset.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [65]:
# genres, movie_id, keywords, overview, popularity, release_date, tagline, title, cast, crew
dataset = dataset[['movie_id','title','tagline','overview','genres','keywords','cast','crew','popularity','release_date']]

In [66]:
dataset.head()

,movie_id,title,tagline,overview,genres,keywords,cast,crew,popularity,release_date
0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",150.437577,2009-12-10
1,285,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",139.082615,2007-05-19
2,206647,Spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",107.376788,2015-10-26
3,49026,The Dark Knight Rises,The Legend Ends,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",112.312950,2012-07-16
4,49529,John Carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",43.926995,2012-03-07

In [67]:
dataset.duplicated().sum()

0

In [68]:
dataset['release_date'] = pd.to_datetime(dataset['release_date']).dt.year

In [69]:
dataset.head()

,movie_id,title,tagline,overview,genres,keywords,cast,crew,popularity,release_date
0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",150.437577,2009.0
1,285,Pirates of the Caribbean: At World's End,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",139.082615,2007.0
2,206647,Spectre,A Plan No One Escapes,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",107.376788,2015.0
3,49026,The Dark Knight Rises,The Legend Ends,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",112.312950,2012.0
4,49529,John Carter,"Lost in our world, found in another.","John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",43.926995,2012.0

In [70]:
import ast

In [71]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# ['Action','Adventure','Fantasy','Science Fiction']

def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [72]:
dataset['genres'] = dataset['genres'].apply(convert)

In [73]:
dataset['keywords'] = dataset['keywords'].apply(convert)

In [74]:
def convertCast(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=4:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [75]:
dataset['cast'] = dataset['cast'].apply(convertCast)

In [76]:
def convertCrew(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [77]:
dataset['crew'] = dataset['crew'].apply(convertCrew)

In [78]:
dataset.head(1)

,movie_id,title,tagline,overview,genres,keywords,cast,crew,popularity,release_date
0,19995,Avatar,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],150.437577,2009.0

In [79]:
data = dataset[['movie_id','title','overview','genres','keywords','cast','crew']]

In [80]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [81]:
data['overview'] = data['overview'].apply(lambda x: str(x).split())

C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\3071123614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['overview'] = data['overview'].apply(lambda x: str(x).split())

In [82]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]

In [83]:
data['genres'] = data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
data['keywords'] = data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
data['cast'] = data['cast'].apply(lambda x:[i.replace(" ","") for i in x])
data['crew'] = data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\3211786576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['genres'] = data['genres'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\3211786576.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['keywords'] = data['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\3211786576.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cast'] = data['cast'].apply(lambda x:[i.replace(" ","") for i in x])
C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\3211786576.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['crew'] = data['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [84]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]

In [85]:
data['titleArray'] = data['title'].apply(lambda x: x.split())

C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\1275867225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['titleArray'] = data['title'].apply(lambda x: x.split())

In [86]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,titleArray
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],[Avatar]

In [87]:
data['tags'] = data['titleArray'] + data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']

C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\3833466374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = data['titleArray'] + data['overview'] + data['genres'] + data['keywords'] + data['cast'] + data['crew']

In [88]:
data.head(1)

,movie_id,title,overview,genres,keywords,cast,crew,titleArray,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron],[Avatar],"[Avatar, In, the, 22nd, century,, a, paraplegi..."

In [89]:
data = data[['movie_id','title','tags']]

In [90]:
data.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [Avatar, In, the, 22nd, century,, a, paraplegi...

In [91]:
data['tags'] = data['tags'].apply(lambda x:" ".join(x))

C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\39123791.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = data['tags'].apply(lambda x:" ".join(x))

In [92]:
data.head(1)

   movie_id   title                                               tags
0     19995  Avatar  Avatar In the 22nd century, a paraplegic Marin...

In [93]:
data['tags'] = data['tags'].apply(lambda x:x.lower())

C:\Users\HAMMAD\AppData\Local\Temp\ipykernel_34184\3172751869.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['tags'] = data['tags'].apply(lambda x:x.lower())

In [94]:
data.head(1)

   movie_id   title                                               tags
0     19995  Avatar  avatar in the 22nd century, a paraplegic marin...

In [95]:
import nltk

In [96]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [97]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [98]:
data['tags'] = data['tags'].apply(stem)

In [99]:
import sklearn

In [100]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [101]:
vectors = cv.fit_transform(data['tags']).toarray()

In [102]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [103]:
from sklearn.metrics.pairwise import cosine_similarity

In [104]:
similarity = cosine_similarity(vectors)

In [105]:
similarity

array([[1.        , 0.07798129, 0.08718573, ..., 0.04474374, 0.        ,
        0.        ],
       [0.07798129, 1.        , 0.0559017 , ..., 0.04303315, 0.02151657,
        0.02192645],
       [0.08718573, 0.0559017 , 1.        , ..., 0.02405626, 0.        ,
        0.        ],
       ...,
       [0.04474374, 0.04303315, 0.02405626, ..., 1.        , 0.03703704,
        0.05661385],
       [0.        , 0.02151657, 0.        , ..., 0.03703704, 1.        ,
        0.07548514],
       [0.        , 0.02192645, 0.        , ..., 0.05661385, 0.07548514,
        1.        ]])

In [106]:
def recommend(movie):
    movie_index = data[data['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:7]
    
    for i in movies_list:
        print(i)
        print(data.iloc[i[0]].title)

In [49]:
recommend('Avatar')

(2409, 0.2982404540317303)
Aliens
(1216, 0.290693866424127)
Aliens vs Predator: Requiem
(1194, 0.24975621642178508)
Small Soldiers
(3731, 0.24779731389167606)
Falcon Rising
(507, 0.24722569302909875)
Independence Day
(539, 0.2433321316961438)
Titan A.E.

In [107]:
import pickle

In [108]:
pickle.dump(dataset.to_dict(), open('movies.pkl','wb'))

In [109]:
popular = dataset[['movie_id','title','genres','release_date','popularity']]

In [110]:
popular = popular.sort_values('popularity', ascending=False)

In [111]:
def byYear(year):
    counter=0
    L=[]
    for row in popular.iterrows():
        if row[1].release_date==year:
            if counter!=6:
                L.append(row[1].title)
                counter=counter+1
            else:
                break
    return L

In [115]:
byYear(2010.0)

['Inception',
 'Despicable Me',
 'The Twilight Saga: Eclipse',
 'Black Swan',
 'Shutter Island',
 'Alice in Wonderland']

In [116]:
def byGenre(genre):
    counter=0
    L=[]
    for row in popular.iterrows():
        if counter!=6:
            for gen in row[1].genres:
                if gen==genre:
                    L.append(row[1].title)
                    counter+=1
                    break
        else:
            break
    return L

In [117]:
byGenre("Action")

['Deadpool',
 'Guardians of the Galaxy',
 'Mad Max: Fury Road',
 'Jurassic World',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Dawn of the Planet of the Apes']

In [118]:
byGenre("Comedy")

['Minions',
 'Deadpool',
 'Big Hero 6',
 'Teenage Mutant Ninja Turtles',
 'Pixels',
 'Forrest Gump']

In [119]:
pickle.dump(popular, open('popular.pkl','wb'))

In [120]:
select = dataset[['movie_id','title','genres','cast','popularity']]

In [121]:
select = select.sort_values('popularity', ascending=False)

In [122]:
def byChoice(genres, castList,obj):
    choice = obj.copy()

    def byChoiceCast():
        cast_fre = []
        for row in choice.iterrows():
            castFre = 0
            for cast in row[1].cast:
                if cast == castList[0] or cast == castList[1] or cast == castList[2] or cast == castList[3] or cast == \
                        castList[4]:
                    castFre += 1
            cast_fre.append(castFre)
        return cast_fre
    
    choice['cast_fre'] = byChoiceCast()
    choice = choice[choice['cast_fre'] != 0]
    
    def byChoiceGenre():
        gen_fre = []
        for row in choice.iterrows():
            genFre = 0
            for gen in row[1].genres:
                if gen == genres[0] or gen == genres[1] or gen == genres[2]:
                    genFre += 1
            gen_fre.append(genFre)
        return gen_fre

    choice['gen_fre'] = byChoiceGenre()
    choice = choice[choice['gen_fre'] != 0]
    
    choice = choice.sort_values('cast_fre', ascending=False)
    
    choice_movies = []
    counter=0
    for mov in choice.iterrows():
        if counter!=3:
            choice_movies.append(mov[1].title)
            counter+=1
        else: 
            break
    return choice_movies

In [124]:
genres = ["Comedy", "Action", "Thriller"]
castList = ["Robert De Niro", "Samuel L. Jackson", "Bruce Willis", "Matt Damon", "Leonardo DiCaprio"]

byChoice(genres,castList,select)

['Die Hard: With a Vengeance', 'Pulp Fiction', 'Unbreakable']

In [125]:
pickle.dump(select, open('choice.pkl','wb'))

In [126]:
import operator

In [127]:
cast_dict = {}
for row in dataset.iterrows():
    for cast in row[1].cast:
        if cast in cast_dict:
            cast_dict[cast] = (cast_dict[cast]+1)
        else:
            cast_dict[cast] = 0
            
cast_dict = dict( sorted(cast_dict.items(), key=operator.itemgetter(1),reverse=True))

cast_list = []
counter=0;
for key in cast_dict:
    if counter <25:
        cast_list.append(key)
    else:
        break;

In [128]:
pickle.dump(vectors, open('vectors.pkl','wb'))

In [129]:
vectors.shape

(4809, 5000)